# Docker env
DB_NAME=
DB_USER=
DB_PASSWORD=

# JWT secret
JWT_SECRET=

# Oracle Cloud env
ORACLE_TENANT_ID=
ORACLE_USER_ID=
ORACLE_FINGERPRINT=
ORACLE_REGION=
ORACLE_NAMESPACE=
ORACLE_BUCKET=
ORACLE_PRIVATE_KEY=