:80 {
    @api host api.collectto.app
    handle @api {
        reverse_proxy collectto_api:8080
    }

handle {
        root * /srv/site
        try_files {path} /index.html
        file_server
    }
}